INSTALL
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h.in
config.h.in~
config.sub
configure
depcomp
install-sh
ltmain.sh
missing
src/Makefile.in
Makefile
config.h
config.log
config.status
libtool
src/.deps/
src/lz4-r109/.deps/
src/Makefile
stamp-h1
m4/
*.o
*.lo
*.la
src/.libs/
src/send_anchor_stat
src/protobuf/.deps/
src/protobuf/.dirstamp
src/protobuf/DataFrame.pb-c.c
src/protobuf/DataFrame.pb-c.h
src/protobuf/DataBurst.pb-c.c
src/protobuf/DataBurst.pb-c.h
src/*_test
src/*test.trs
test-driver
src/tests/.deps/
src/tests/.dirstamp
src/tests/defer_file_test
*.log
*.tar.gz
